<% questions.each do |question_feed| %>
<section class="question-container">
	<h1><%= question_feed.question %></h1>
	<span><%= time_ago_in_words question_feed.created_at %></span>
	<p>
		<%= truncate_html(question_feed.details, length: 180, omission: "#{link_to 'see more',show_question_path(question_feed)}")%>
	</p>
	<footer>
		<span>Answer</span>
		<span>Follow</span>
	</footer>
</section>
<% end %>