<% questions.each do |question_feed| %>
<section class="asker-info">
	<div class="user-icon"></div>
	<span class="asker-name"><%= question_feed.user.full_name %></span>
	<span class="date"><%= "#{time_ago_in_words question_feed.created_at} ago" %></span>
</section>

<section class="question-container">	
	<header>
		<h1><%= link_to question_feed.question, show_question_path(question_feed) %></h1>
	</header>
	
	<article>
		<p>
			<%= truncate_html(question_feed.details, length: 180, omission: "... #{link_to 'see more',show_question_path(question_feed)}")%>
		</p>
	</article>
	
	<footer>
		
		<a href="#">Answer</a>
		<a href="#">Follow</a>	
	</footer>
</section>
<% end %>