<div class="alert-wrapper">
	<div class="<%= alert_container_class || "alert-container" %>">
		<% if object && !object.errors.empty? %>
		<div class="alert alert-warning">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
				&times;
			</button>
			<div class="alert-content-wrapper">
				<span class="glyphicon glyphicon-warning-sign alert-logo"></span>
				<ul>
					<% object.errors.full_messages.each do |message| %>
					<li>
						<%= message %>
					</li>
					<% end %>
				</ul>
			</div>
		</div>

		<% elsif flash.now[:success] %>

		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
				&times;
			</button>
			
			<div class="alert-content-wrapper">
				<span class="glyphicon glyphicon-ok alert-logo"></span>
				<p>
					<%= flash.now[:success] %>
				</p>
			</div>
		</div>
		<% elsif flash.now[:warning] %>
		<div class="alert alert-warning">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
				&times;
			</button>
			<div class="alert-content-wrapper">
				<span class="glyphicon glyphicon-warning-sign alert-logo"></span>
				<p>
				<%= flash.now[:warning]%>
				</p>
			</div>
		</div>
		<% end %>
	</div>
</div>