.add-answer-wrapper {
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 0.5em #DDD;
}

.answer-wrapper {
  width: 100%;
  padding: 20px;
  background-color: #FFF;
  margin: 10px 0;
  //box-shadow: 0 0 0.5em #DDD;
}

.answer-wrapper .answer-by {
  font-family: Georgia, Helvetica, sans-serif;
  font-size: 1.2em;
  display: block;
  font-weight: bold;
  color: #444;
}

.answers-wrapper .date-answered {
  font-size: 0.7em;
  display: block;
  color: #AAA;
}

.answers-wrapper {
  width: 100%;
  height: auto;
  display: block;
}

#already-answered {
  width: 100%;
  margin: 10px 0;
  margin-bottom: 50px;
}
