.feed-wrapper {
	width: 50%;
	margin-left: 3px;
	margin-top: 40px;
	float: left;
}

.feed-wrapper > button {
  padding: 10px;
  margin: 0 auto;
  width: 100%;
  background-color: #DDD;
  border: 1px solid #CCC;
  color: #BBB;
}

.feed-wrapper > button:hover {
  color: #FFF;
}

.question-container {
	width: 100%;
	max-height: 200px;
	padding: 10px 10px 20px 10px;
	float: left;
	clear: both;
	background-color: #FFF;
	margin-bottom: 10px;
	box-shadow: 0 0 0.1em #DDD;
	border: 1px solid #DDD;
	position: relative;
	word-wrap: break-word;
}

.question-container > h1 {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 1.2em;
}

.question-container > footer {
	color: #AAA;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	display: block;
	background-color: #EEE;
	position: absolute;
	bottom: 0;
	left: 0;
}

.question-container > p {
	font-size: 0.9em;
	height: 50%;
	color: #555;
	text-align: justify;
	padding: 0px 15px 5px 15px;
	
}

.question-container > span:first-of-type {
	font-family: Tahoma, "Times New Romain", serif;
	font-size: 10px;
	padding-left: 10px;
	color: #BBB;
}

.question-container > footer > span {
	width: 50%;
	float: left;
	margin: 0;
	padding: 0;
}

.question-container > footer > span:first-of-type {
	border-right: 1px solid #CCC;
}

.feed-ask-wrapper {
	width: 40%;
	height: 55px;
	position: fixed;
	top: 60px;
	display: block;
	z-index: 999;
	border-radius: 0 0 10px 10px;
	background-color: #CCC;
}

.back-to-top {
  color: #333;
  background-color: #CCC;
  border-radius: 10px;
  position: fixed;
  bottom: 7%;
  left: 62%;
  text-align: center;
  width: 120px;
  height: 35px;
  line-height: 35px;
  display: block;
}

.back-to-top:hover {
  background-color: #13AD5C;
  color: #FFF;
}

.back-to-top span {
  margin-right: 10px;
}

.load-more-wrapper {
  width: 100%;
  height: 32px;
  float: left;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
}
