.feed-wrapper {
	width: 50%;
	margin-left: 25px;
	margin-top: 65px;
	float: left;
}

.feed-wrapper > button {
  padding: 10px;
  margin: 0 auto;
  width: 100%;
  background-color: #DDD;
  border: 1px solid #CCC;
  color: #BBB;
}

.feed-wrapper > button:hover {
  color: #FFF;
}

.question-container {
	width: 100%;
	float: left;
	clear: both;
	background-color: #FFF;
	margin-bottom: 10px;
	box-shadow: 0 0 0.1em #DDD;
	border: 1px solid #DDD;
	position: relative;
	word-wrap: break-word;
}

.question-container > header {
  display: block;
  width: 100%;
  height: auto;
  float: left;
  padding: 5px;
}

.question-container > header > h1 {
  font-size: 1.7em;
  margin: 0;
  padding: 0;
  padding: 0 10px;
}

.question-container > header > h1 a {
	font-family: Georgia, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 0.8em;
	color: #444;
}

.question-container > header > h1:first-letter {
	text-transform: capitalize;
}

.question-container > header > .date {
  font-family: Times, "Times New Romain", serif;
  font-size: 0.8em;
  padding-left: 10px;
  color: #AAA;
  display: block;
}

.question-container > footer {
	color: #AAA;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	display: block;
	background-color: #EEE;
	float: left;
}

.question-container > article p {
	font-size: 0.9em;
	height: 50%;
	color: #555;
	text-align: justify;
	padding: 0px 15px 5px 15px;
	
}

.question-container > footer > span {
	width: 50%;
	float: left;
	margin: 0;
	padding: 0;
}

.question-container > footer > span:first-of-type {
	border-right: 1px solid #CCC;
}

.feed-ask-wrapper {
	width: 41%;
	height: 55px;
	position: fixed;
	top: 60px;
	margin-left: 20px;
	display: block;
	z-index: 999;
	border-radius: 0 0 10px 10px;
	background-color: #CCC;
}

.back-to-top {
  color: #333;
  background-color: #CCC;
  border-radius: 10px;
  position: fixed;
  bottom: 7%;
  left: 65%;
  text-align: center;
  width: 120px;
  height: 35px;
  line-height: 35px;
  display: block;
}

.back-to-top:hover {
  background-color: #13AD5C;
  color: #FFF;
}

.back-to-top span {
  margin-right: 10px;
}

.load-more-wrapper {
  width: 100%;
  height: 40px;
  float: left;
  margin-bottom: 40px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
}

.feed-alert-container {
	width: 100%;
}
