.show-question-wrapper {
	width: 50%;
	word-wrap: break-word;
	margin-left: 5%;
	margin-top: 20px;
}

.question-wrapper {
  width: 100%;
  padding: 1em 2em;
  word-wrap: break-word;
  background-color: #FFF;
  box-shadow: 0 0 0.5em #DDD;
  position: relative;
}

.question-wrapper .asker {
	font-family: Tahoma, Helvetica, sans-serif;
	color: #AAA;
	display: block;
	margin-top: 2px;
}

.question-wrapper .asker:before {
	content: "asked by ";
}

.question-wrapper > header h1 {
	//font-family: "League Gothic Regular", Times, serif;
  	font-family: Tahoma, Helvetica, sans-serif;
  	padding: 0;
  	margin: 0;
  	color: #444;
  	font-size: 1.8em;
  	line-height: 1.3em;
}

.question-wrapper .date {
	font-family: Tahoma, Helvetica, serif;
	width: 60px;
	height: 50px;
	background-color: #0E8144;
	right: 0;
	top: 10px;
	position: absolute;
	color: #FFF;
	text-align: center;
}

.question-wrapper p {
	text-align: justify;
}

.question-wrapper .date-day {
	font-family: Bebas, Tahoma, serif;
	font-size: 1.5em;
	display: block;
}

.question-wrapper .date-month-year {
	font-size: 0.7em;
	font-family: Bebas, Tahoma, serif;
}

.question-wrapper header {
	
}

.question-wrapper article {
	margin-top: 10px;
	color: #555;
}

.question-wrapper h1:first-letter {
	text-transform: capitalize;
}