.simple-ask {
  margin: 0;
  padding: 0;
  margin-left: 45%;
  width: 50%;
  position: fixed;
}

.simple-ask > h1 {
  margin: 0;
  font-size: 2em;
}

.simple-ask-form {
  width: 200px;
}

.simple-ask-form textarea {
  margin: 10px;
  resize: none;
  width: 250px;
}

.show-question-wrapper {
  width: 60%;
  padding: 1em 2em;
  padding-right: 5em;
  word-wrap: break-word;
  margin: 20px;
  background-color: #FFF;
  box-shadow: 0 0 0.5em #DDD;
  position: relative;
}

.show-question-wrapper .asker {
	color: #CCC;
}

.show-question-wrapper .asker:before {
	content: "asked by ";
}

.show-question-wrapper > header h1 {
	font-family: "League Gothic Regular", Times, serif;
  	padding: 0;
  	margin: 0;
  	color: #444;
}

.show-question-wrapper .date {
	display: block;
	width: 60px;
	height: 50px;
	background-color: #0E8144;
	right: 0;
	top: 10px;
	position: absolute;
	color: #FFF;
	text-align: center;
}

.show-question-wrapper p {
	text-align: justify;
}

.show-question-wrapper .date-day {
	font-family: Bebas, Tahoma, serif;
	font-size: 1.5em;
	display: block;
}

.show-question-wrapper .date-month-year {
	font-size: 0.7em;
	font-family: Bebas, Tahoma, serif;
}

.show-question-wrapper header {
	
}

.show-question-wrapper article {
	margin-top: 10px;
}

.show-question-wrapper h1:first-letter {
	text-transform: capitalize;
}



.add-answer-wrapper {
	width: 60%;
	padding: 1em 2em;
  	padding-right: 5em;
  	margin: 20px;
	box-shadow: 0 0 0.5em #DDD;
}
